*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

.TodoWrapper{
  position: relative;
  width: 450px;
  height: 550px;
  border-radius: 30px;
  background: #2f363e;
  padding: 30px 50px;
  box-shadow: 25px 25px 75px rgb(0,0,0,0.25),10px 10px 70px rgb(0,0,0,0.25), 
  inset 5px 5px 10px rgb(0,0,0,0.5), 
  inset 5px 5px 20px rgb(255,255,255,0.2),
  inset -5px -5px 15px rgb(0,0,0,0.75);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
}

.todo-input{
  margin-right: 10px;
  position: relative;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 5px 5px 7px rgb(0,0,0,0.25),
  inset 2px 2px 5px rgb(0,0,0,0.5), 
  inset -3px -3px 5px rgb(0,0,0,0.5);
}

.todo-btn {
  background: purple;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 5px 5px 7px rgb(0,0,0,0.25),
  inset 2px 2px 5px rgb(0,0,0,0.5), 
  inset -3px -3px 5px rgb(0,0,0,0.5);
}

.heading{
  color: rgb();
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 12px;
  background: -webkit-linear-gradient(rgb(175, 27, 216), rgb(216, 208, 208));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.todo-input::placeholder{
  color: rgb(104, 35, 104)30)85);
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin-top: 10px;
  background: whitesmoke;
  color: purple;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 5px 5px 7px rgb(0,0,0,0.25),
  inset 2px 2px 5px rgb(0,0,0,0.5), 
  inset -3px -3px 5px rgb(0,0,0,0.5);
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: grey;
  text-decoration: line-through;
}