*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

.TodoForm{
  position: relative;
  width: 450px;
  height: 550px;
  border-radius: 30px;
  background: #2f363e;
  padding: 30px 50px;
  box-shadow: 25px 25px 75px rgb(0,0,0,0.25),10px 10px 70px rgb(0,0,0,0.25), 
  inset 5px 5px 10px rgb(0,0,0,0.5), 
  inset 5px 5px 20px rgb(255,255,255,0.2),
  inset -5px -5px 15px rgb(0,0,0,0.75);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
}

.todo-input{
  margin-right: 10px;
  position: relative;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 5px 5px 7px rgb(0,0,0,0.25),
  inset 2px 2px 5px rgb(0,0,0,0.5), 
  inset -3px -3px 5px rgb(0,0,0,0.5);
}

.todo-btn {
  background: purple;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 5px 5px 7px rgb(0,0,0,0.25),
  inset 2px 2px 5px rgb(0,0,0,0.5), 
  inset -3px -3px 5px rgb(0,0,0,0.5);
}

.todo-input::placeholder{
  color: green;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(red,blue,green);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: blue;
  text-decoration: line-through;
}